In [1]:
import tushare as ts

In [3]:
ts.set_token('1d841bb5fcc39ad4159f2749632de57ff273b3c7640d72532e7f05b9')

In [4]:
pro = ts.pro_api()

In [5]:
df = pro.trade_cal(exchange='', start_date='20180901', end_date='20181001',
                   fields='exchange,cal_date,is_open,pretrade_date', is_open='0')

In [6]:
df

   exchange  cal_date  is_open pretrade_date
0       SSE  20180901        0      20180831
1       SSE  20180902        0      20180831
2       SSE  20180908        0      20180907
3       SSE  20180909        0      20180907
4       SSE  20180915        0      20180914
5       SSE  20180916        0      20180914
6       SSE  20180922        0      20180921
7       SSE  20180923        0      20180921
8       SSE  20180924        0      20180921
9       SSE  20180929        0      20180928
10      SSE  20180930        0      20180928
11      SSE  20181001        0      20180928

### 获取每日指标

In [9]:
df2 = pro.daily_basic(ts_code='601636.SH', trade_date='20201118', 
                      fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pe_ttm,pb')

In [10]:
df2

     ts_code trade_date  turnover_rate  volume_ratio       pe   pe_ttm      pb
0  601636.SH   20201118         3.4493          0.76  26.7341  22.0147  4.1186

### 利润表

In [14]:
df3 = pro.income(ts_code='601636.SH', start_date='20200101', end_date='20201030', 
                fields='ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,basic_eps,diluted_eps')

In [15]:
df3

,ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,basic_eps,diluted_eps
0,601636.SH,20201029,20201029,20200930,1,1,0.4553,0.4526
1,601636.SH,20201029,20201029,20200930,1,1,0.4553,0.4526
2,601636.SH,20200811,20200811,20200630,1,1,0.1903,0.1900
3,601636.SH,20200415,20200415,20200331,1,1,0.0604,0.0598
4,601636.SH,20200410,20200410,20191231,1,1,0.5199,0.5159

In [23]:
df4 = pro.forecast(ann_date='20201031', 
             fields='ts_code,ann_date,end_date,type,p_change_min,p_change_max,net_profit_min')

In [25]:
df4.head()

,ts_code,ann_date,end_date,type,p_change_min,p_change_max,net_profit_min
0,600826.SH,20201031,20201231,预减,NaN,NaN,NaN
1,600004.SH,20201031,20201231,略减,NaN,NaN,NaN
2,600708.SH,20201031,20201231,不确定,NaN,NaN,NaN
3,600723.SH,20201031,20201231,不确定,NaN,NaN,NaN
4,603922.SH,20201031,20201231,不确定,NaN,NaN,NaN

In [31]:
df4.groupby(['type'])["ts_code"].count().reset_index(name="count")

  type  count
0  不确定     51
1   扭亏     10
2   略减     18
3   略增      7
4   续亏     21
5   续盈      2
6   预减     10
7   预增     11
8   首亏     18

In [32]:
df4[df4["type"] == "预增"]

,ts_code,ann_date,end_date,type,p_change_min,p_change_max,net_profit_min
34,600428.SH,20201031,20201231,预增,50.00,NaN,NaN
51,603330.SH,20201031,20201231,预增,NaN,NaN,NaN
86,600428.SH,20201031,20201231,预增,50.00,NaN,NaN
97,002855.SZ,20201031,20201231,预增,35.00,70.00,7598.0
98,002582.SZ,20201031,20201231,预增,1008.35,1057.67,213493.0
104,002184.SZ,20201031,20201231,预增,90.69,128.83,10000.0
105,300124.SZ,20201031,20201231,预增,90.00,140.00,180868.0
108,002310.SZ,20201031,20201231,预增,285.32,477.98,20000.0
109,000555.SZ,20201031,20201231,预增,15.81,59.74,43500.0
140,601028.SH,20201031,20201231,预增,NaN,NaN,NaN
145,002030.SZ,20201031,20201231,预增,2069.63,2286.59,200000.0